html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

:root {
    --bs-primary: #0d6efd;
}

.carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
}
